@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2vh;

  @media (width <= 768px) {
    .text_wrapper {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
  }
}
