@import "../../styles/variables";

.button_link, .button {
  width: 50%;
  background-color: $accent;
  color: $white;
  padding: 1.3vh;
  border-radius: 4px;
  transition: all ease 0.3s;
  margin-top: auto;

  &:hover {
    background-color: $secondaryBg;
  }
}

.button:disabled {
  opacity: 0.5;
  filter: grayscale(50%);
  cursor: default;

  pointer-events: none;
}

.button_link {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (width <= 768px) {
  .button_link {
    width: 100%;
  }
}
