@import '../../../../shared/styles/variables';

.container {
  position: relative;
  background: $linearGradient;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile) {
    svg {
      width: 120px;
      height: 100px;
    }
  }
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
