@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";

.container {
  border-top: 2px solid $primaryBg;
  margin: 0 -15vh;
  padding: 3vh 15vh;
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.title {
  width: 30%;

  @include font($accent, 600, 2, 16, 28)
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  .item {
    display: flex;
    gap: 0.5vw;
  }

  .accent, .button {
    color: $accent;
  }

  .button {
    cursor: pointer;
  }
}

@media (width <= 768px) {
  .container {
    flex-direction: column;
    gap: 3vh;
    margin: 0 -5vw;
    padding: 3vh 5vw;
    align-items: flex-start;
  }

  .title {
    width: 100%;
  }

  .list {
    width: 100%;
    gap: 1.2vh;
  }
}
