@import './shared/styles/variables';
@import "./shared/styles/mixin";

/* Reset and base styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;

  font-family: Manrope, sans-serif;
  font-style: normal;

  @include font(black, 400, 1.5, 14px, 18px);

  body {
    position: relative;
    top: 0;
    left: 0;

    overflow: hidden;
  }
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Form elements reset */
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 100%;
}

/* Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  &::-webkit-scrollbar {
    width: 10px !important;
    height: 7px !important;
  }

  &::-webkit-scrollbar-track {
    height: 7px !important;

    background: transparent !important;
    border-radius: 4px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: $linearGradient !important;
    border-radius: 4px !important;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent !important;
  }
}

.app {
  position: relative;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
  display: grid;
  grid-template-rows: 80px 1fr;
}

.main {
  height: calc(100% - 60px);
  width: 100%;
  margin: 30px 0;
  overflow-y: scroll;
  padding: 8vh 15vh;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
