.item {
  padding: 8px;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.3s ease, border-width 0.3s ease;

  &:hover {
    border-bottom-color: black;
  }
}
